.company-logo {
  background-color: #000;
}

.icon-search {
  height: 50px;
  width: 50px;
}

.logo {
  margin-left: 20px;
}
.logo a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  /* position: absolute; */
}
.nav-links div {
  margin: auto 5px;
}
.nav-links div i {
  margin: auto 5px;
}
.nav-links div a {
  text-decoration: none;
}
#nav_control {
  display: none;
}
.header {
  position: relative;
}

/* 漢堡選單 */
.nav_btn {
  display: none;
  height: 50px;
  width: 50px;
  //   background-color: red;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    margin: 25% 0;
    left: 7px;
    height: 2px;
    width: 36px;
    background-color: #333;
    box-shadow: 0 13px 0 #333;
    transition: 0.5s;
  }
  &::after {
    content: "";
    position: absolute;
    margin: 75% 0;
    left: 7px;
    height: 2px;
    width: 36px;
    background-color: #333;
    transition: 0.5s;
  }
}
#nav_control:checked ~ .header .navb .nav-links {
  left: 0;
}
#nav_control:checked ~ .header .navb .nav_btn {
  background-color: #fff;
  &::before {
    content: "";
    position: absolute;
    margin: 50% 0;
    left: 7px;
    height: 2px;
    width: 36px;
    background-color: #333;
    box-shadow: none;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  &::after {
    content: "";
    position: absolute;
    margin: 50% 0;
    left: 7px;
    height: 2px;
    width: 36px;
    background-color: #333;
    transform: rotate(45deg);
    transition: 0.2s;
  }
}


@media (max-width: 768px) {
  
  .nav-links {
    display: block;
    list-style: none;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 90;
    height: calc(100vh - 50px);
    top: 50px;
    left: -100%;
    transition: 0.5s;
    div {
      display: block;
      padding: 20px 10px;
      font-size: 20px;
    }
  }
  .nav_btn {
    position: absolute;
    display: block;
  }

  .logo {
    // position: relative;
    margin: 0 auto;
  }
  .navl {
    .my_btn {
      display: none;
    }
    .fa-search {
      display: none;
    }
   
  }
  .article {
      padding: 0 50px;
  }
}

li {
  line-height: 50px;
}

.banner-img {
  height: 714px;
}

.banner1 {
  position: relative;
}

.b-line {
  margin: 0px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  z-index: 12;
  right: 0;
  bottom: 0;
  left: 0;
}

.box {
  width: 50%;
  /* background-color: #444; */
}

.box img {
  width: 100%;
  object-fit: contain;
}

.box-text {
  width: 50%;
  /* background-color: rgb(250, 101, 101); */
  padding: 50px 50px;
}

.box-title {
  font-size: 48px;
  font-weight: 500;
}

.b-line-title {
  font-weight: 800;
  font-size: 25px;
}

h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .container-fluid.banner{
    height: 500px;
  }
  .box-title {
    font-size: 30px;
  }

  .box img {
    margin: 20px 0;
  }

  .box-text {
    width: 100%;
    padding: 50px 50px;
  }
}

@media (max-width: 375px) {
  .box-title {
    font-size: 20px;
  }

  .box-text {
    width: 100%;
    padding: 50px 50px;
  }

  .box img {
    margin: 20px 0;
  }
}

figcaption {
  font-weight: 700;
  font-size: 20px;
}

.exp-img {
  /* background-color: #555; */
  height: 500px;
}

.exp-img img {
  height: 292px;
}

.exp-top {
  color: #0070cc;
  text-align: center;
}

.exp-text {
  text-align: center;
}

.exp-title {
  text-align: center;
  margin: 40px auto;
}

.demo-title {
  text-align: center;
  margin: 30px auto;
}
.demo-img{
    margin: auto;
}
h4 {
  color: #0070cc;
  text-align: center;
}

.w-100 {
  object-fit: contain;
}

.banner {
  background-color: #565;
  position: relative;
  height: 900px;
  width: 100%;
}



.banner-img {
  object-fit: cover;
}
